---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

span:not(:last-child) > a.social-link {
  margin-right: 0.5rem;
}

.plain-page {
  border-radius: 1rem;
  padding: 1rem;
  background-color: color-mix(in srgb, var(--mask-bg), transparent 80%);
  box-shadow: 0 0 0.5rem color-mix(in srgb, var(--text-color), transparent 75%);

  .home-banner {
    height: calc(100vw - (50vh / 2));
    max-height: 250px;
    width: calc(100% + 2rem);
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -1rem;
    max-width: none;
    box-shadow: inset 0 -10px 15px 0 color-mix(in srgb, var(--text-color), transparent 70%);
    background-image: url('/assets/images/photography/boulevard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    audio {
      transform: translateY(3.5rem);
    }
  }

  hr {
    border-color: color-mix(in srgb, var(--text-color), transparent 70%);
  }
}
