---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.sidebar-content {
  margin-bottom: 0 !important;

  .contact-header {
    width: 100%;
    position: relative;
    margin: 0 0 0.5rem 0;

    span {
      // position: relative;
      // z-index: 2;
      position: absolute;
      top: 0.25rem;
      margin: 0;
      padding: 0 1rem;
      color: var(--text-color);
      background-color: var(--sidebar-bg);
      font-size: 1rem;
      font-weight: 400;
      transform: translateX(-50%);
      left: 50%;
      white-space: nowrap;
    }
  }
}

.sidebar-bottom {
  justify-content: center;

  hr {
    width: 100%;
    border-color: color-mix(in srgb, var(--text-color), transparent 70%);
  }
}

span:not(:last-child) > a.social-link {
  margin-right: 0.5rem;
}

// span > a.social-link {
//   margin: 0.25rem;
// }

.plain-page {
  border-radius: 1rem;
  padding: 1rem;
  background-color: color-mix(in srgb, var(--mask-bg), transparent 80%);
  box-shadow: 0 0 0.5rem color-mix(in srgb, var(--text-color), transparent 75%);

  .home-banner {
    height: calc(100vw - (50vh / 2));
    max-height: 250px;
    width: calc(100% + 2rem);
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -1rem;
    max-width: none;
    box-shadow: inset 0 -10px 15px 0 color-mix(in srgb, var(--text-color), transparent 70%);
    background-image: url('/assets/images/photography/boulevard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    audio {
      transform: translateY(3.5rem);
    }
  }

  hr {
    border-color: color-mix(in srgb, var(--text-color), transparent 70%);
  }
}

.new-posts {
  margin-top: 2rem;
  width: 90%;

  h1 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }

  ul {
    margin-bottom: 0;
    list-style: none;
    display: contents;

    li > a {
      display: block;
    }

    li > a:hover {
      text-decoration: underline;
      color: color-mix(in srgb, var(--link-color) 80%, black 20%);
    }

    li {
      position: relative;
      margin-left: 5px;
      margin-right: 5px;
    }

    li :not(span) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 65%;
    }

    li span {
      position: absolute;
      right: 0;
    }
  }
}

@font-face {
  font-family: "Venera";
  src: url('/assets/fonts/Venera-500.otf') format('opentype');
  /* font-weight: 500; */
}

a.site-title.stack {
  /* color: white; */
  text-decoration: none !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  text-align: left !important;
  font-family: 'Venera', sans-serif !important;
  // padding-right: 0.5rem !important;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 1.25rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

/* Custom prompts */
.prompt-custom {
  background: rgba(var(--callout-color), 0.12);

  &::before {
    content: var(--callout-icon);
    color: rgba(var(--callout-color), 1);
    font-family: "Font Awesome 7 Free";
    font-weight: 700;
    font-size: 1rem;
  }
}

// TODO: Use Lucide icons to match Obsidian style better
.prompt-missing-docs {
  @extend .prompt-custom;
  --callout-color: 146, 167, 252;
  --callout-icon: "\f02d"; /* fa-book */
}

.prompt-dna {
  @extend .prompt-custom;
  --callout-color: 98, 212, 170;
  --callout-icon: "\f471"; /* fa-dna */
}

.prompt-security-warning {
  @extend .prompt-custom;
  --callout-color: 252, 212, 98;
  --callout-icon: "\f3ed"; /* fa-shield-halved */
}

.prompt-security-tip {
  @extend .prompt-custom;
  --callout-color: 83, 223, 221;
  --callout-icon: "\f3ed"; /* fa-shield-halved */
}

.prompt-code {
  @extend .prompt-custom;
  --callout-color: 98, 212, 170;
  --callout-icon: "\f121"; /* fa-code */
}

/* Dark mode tweaks */
html[data-mode="dark"] .prompt-custom {
  background: rgba(var(--callout-color), 0.2);
  // border-left-color: rgba(var(--callout-color), 0.7);
  color: #fff;
}

.post-preview img {
  border-radius: 0 10px 10px 0;
}
