.callout[data-callout="incomplete"],
.callout[data-callout="missing-documentation"],
.callout[data-callout="missing-docs"] {
  --callout-color: 146, 167, 252;
  --callout-icon: lucide-book-dashed;
}

.callout[data-callout="dna"] {
  --callout-color: 98, 212, 170;
  --callout-icon: lucide-dna;
}

.callout[data-callout="security-warning"] {
  --callout-color: 252, 212, 98;
  --callout-icon: lucide-shield-alert;
}

.callout[data-callout="security-tip"] {
  --callout-color: 83, 223, 221;
  --callout-icon: lucide-shield-check;
}

.callout[data-callout="code"] {
  --callout-color: 98, 212, 170;
  --callout-icon: lucide-file-code;
}
